<h2 class="username"><%= @user.name%></h2>
<section id="profile">
  <div class="modal fade" id="my-modal" title="My modal">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
        <h3 id="myModalLabel">Upload profile pictures</h3>
      </div>
      <div class="modal-body">
        <%= form_for(@profile) do |f| %>
          Photo 1: <%= f.file_field :photo1 , class: "btn btn-primary"%><br>
          Photo 2: <%= f.file_field :photo2 , class: "btn btn-primary"%><br>
          Photo 3: <%= f.file_field :photo3 , class: "btn btn-primary"%><br>
          Photo 4: <%= f.file_field :photo4 , class: "btn btn-primary"%><br>
          Photo 5: <%= f.file_field :photo5 , class: "btn btn-primary"%>

      </div>
      <div class="modal-footer">
          <%= f.submit "Save Images", class: "btn btn-primary" %>
        <% end %>
        <!-- <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button> -->
      </div>
  </div>
          <div class="profcard col-md-10 col-md-offset-1">
          <div class="row">
            <div class="col-md-3 col-md-offset-1 left-title">
              <% if mark_favorite%>
                <%= link_to favorite_profile_path(profile_id: @profile), method: :delete do%>
                  <i class="fa fa-heart" title="favourite"></i>
                <%end%>
              <%else%>
                <%= link_to favorite_profiles_path(profile_id: @profile), method: :post do%>
                  <i class="fa fa-heart-o" title="favourite"></i>
                <%end%>
              <%end%>
              <%= link_to "#", class: "start-conversation", "data-sid" => current_user.id, "data-rip" => @user.id do%>
                <i class="fa fa-comments-o" title="chat"></i>
              <%end%>
              <i class="fa fa-film" title="videos"></i>
            </div>
            <div class="col-md-4  text-center">
              <% if @profile.avatar %>
                <%= image_tag @profile.avatar.url, :class => "img-circle" %>
              <% else %>
                  <img src="/assets/avatarph-aac822842b411310cb92f1b736c7048c09581d6a72a8304a3e964a5c3931da08.png" class="img-circle" alt="" />
              <% end %>

            </div>
            <div class="col-md-3">
              <div class="details">
                <div><strong>Age: <%= @user.age %> </strong> </div>
                <div><strong>Relationship:</strong> <%= @profile.relationship %></div>
                <div><strong>Location:</strong> <%= @profile.location %></div>
              </div>


            </div>
          </div>
          <hr width="80%" color="#110026">
          <div class="row">

            <div class="text-center col-md-10 col-md-offset-1">
            <%if own_record %> <span class="modallink"> <%= link_to "Upload Photo", "#my-modal", :class => "btn", "data-toggle" => "modal" %> </span><% end %> <%= image_tag @profile.photo1.url, :class => "imgstrip" %>
            <%if own_record %> <span class="modallink"> <%= link_to "Upload Photo", "#my-modal", :class => "btn", "data-toggle" => "modal" %> </span><% end %>  <%= image_tag @profile.photo2.url, :class => "imgstrip" %>
            <%if own_record %> <span class="modallink"> <%= link_to "Upload Photo", "#my-modal", :class => "btn", "data-toggle" => "modal" %> </span><% end %>  <%= image_tag @profile.photo3.url, :class => "imgstrip" %>
            <%if own_record %> <span class="modallink"> <%= link_to "Upload Photo", "#my-modal", :class => "btn", "data-toggle" => "modal" %> </span><% end %>  <%= image_tag @profile.photo4.url, :class => "imgstrip" %>
            <%if own_record %> <span class="modallink"> <%= link_to "Upload Photo", "#my-modal", :class => "btn", "data-toggle" => "modal" %> </span><% end %>  <%= image_tag @profile.photo5.url, :class => "imgstrip" %>
            </div>
          </div>
        </div>
      <div class="container">
        <div class="row">
          <div class="col-md-1 caretleft">
            <%if @previous%>
              <%= link_to @previous do %>
                <i class="fa fa-angle-left fa-5x" title="previous"></i>
              <%end%>
            <% end %>
          </div>
          <div class="col-md-1 caretright">
            <%if @next%>
              <%= link_to @next do %>
                <i class="fa fa-angle-right fa-5x" title="next"></i>
              <%end%>
            <%end %>
          </div>
        </div>
      </div>
  <!-------------------Tabs---------------------->

      <div class="container">
              <div class="board">
                <span class="showtabs">
                   <ul class="nav nav-tabs text-center col-md-10 col-md-offset-1" id="tabs" data-tabs="tabs">
                      <li class="active"><a href="#phone" data-toggle="tab" title="Phone Number"><span class="round-tabs2"><i class="fa fa-phone fa-3x"></i><br/>PHONE</span></a> </li>

                      <li><a href="#email" data-toggle="tab" title="Email Address"><span class="round-tabs2"><i class="fa fa-envelope fa-3x"></i><br/>EMAIL</span></a> </li>

                       <li><a href="#occupation" data-toggle="tab" title="Occupation"><span class="round-tabs2"><i class="fa fa-briefcase fa-3x"></i><br/>OCCUPATION</span></a></li>

                      <li><a href="#education" data-toggle="tab" title="Education"><span class="round-tabs2"><i class="fa fa-graduation-cap fa-3x"></i><br/>EDUCATION</span></a></li>

                       <li><a href="#hobbies" data-toggle="tab" title="Hobbies &amp; Interests"><span class="round-tabs2"><i class="fa fa-soccer-ball-o fa-3x"></i><br/>HOBBIES</span></a> </li>

                      <li><a href="#bio" data-toggle="tab" title="Bio"><span class="round-tabs2"><i class="fa fa-user fa-3x"></i><br/>BIO</span></a> </li>
                  </ul>
                </span>
                   <div class="tab-content browseprof">
                        <div class="tab-pane fade in active" id="phone"><p class="narrow text-center"><%= @profile.phone %></p></div>

                        <div class="tab-pane fade" id="email"><p class="narrow text-center"><%= @user.email%></p></div>

                        <div class="tab-pane fade" id="occupation"><p class="narrow text-center"><%= @profile.occupation %></p></div>

                        <div class="tab-pane fade" id="education"><p class="narrow text-center"><%= @profile.education %></p></div>

                        <div class="tab-pane fade" id="hobbies"><p class="narrow text-center"><%= @profile.hobbies %></p></div>

                        <div class="tab-pane fade" id="bio"><p class="narrow text-center"><%= @profile.bio %></p></div>
                  </div>
            </div>
      </div>

  <!---------------------------------Tabs-------------->

</section>




<!--# <%= link_to 'Edit', edit_profile_path(@profile) %> |
# <%= link_to 'Back', profiles_path %>-->
